extends layout.pug

block content
  .container
    header.centered
      h2 Welcome to the migty chat
    #welcome-container.container
      a(href="/login" class="btn btn-primary btn-lg active" role="button") Sign In
